
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:burlywood;
  } 
  .container {
    width: 500px;
    margin: 20px auto;
  }
  .form {
      background-color: #eee;
      border-radius: 15px;
      padding: 29px;
      display: flex;
      flex-wrap: wrap;
      margin-left: -7px;
    
  }
  .input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
    font-size: 23px;
    font-size: 22px;
    font-family: cursive;
  }
  .input:focus {
    outline: none;
  }
  .add {
      border: none;
      background-color: red;
      color: white;
      padding: 10px;
      border-radius: 6px;
      margin-left: 10px;
      cursor: pointer;
      font-size: 15px;
      font-family: emoji;     
  }
  .tasks {
      background-color: #eee;
      margin-top: 16px;
      margin-left: -7px;
      border-radius: 6px;
      padding: 28px;
      font-family: emoji;
  }
  
  .tasks .task {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  .tasks .task:not(:last-child) {
    margin-bottom: 15px;
  }
  .tasks .task:hover {
    background-color: #f7f7f7;
  }
  .tasks .task.done {
    opacity: 0.5;
  }
  .tasks .task span  {
    font-weight: bold;
    font-size: 17px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    display:inline-block;
    
  }
  .tasks .task span.edi  {
      font-weight: bold;
      font-size: 17px;
      background-color: red;
      color: white;
      padding: 2px 6px;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
    }
    
  

  
  }
  
  h1 {
      width: 320px;
      font-family: cursive;
      font-size: 22px;
  }
  @media (min-width:767px){

  
      h1 {
      width: 320px;
      font-family: cursive;
      font-size: 19px;
      }
  .form {
        width: 100%;
  
  }
  .add {
      font-size: 17px;
  }
  .input {
      font-size: 22px;
      height: 32px;
      font-family: cursive;
  }
  
  .tasks .task span.edi  {
      font-size: 19px;
      margin-right: 15px;
      margin-right: -23px;
  }
  
  .tasks .task span {
      font-size: 19px;
  }
  .tasks {
      width: 100%;
  }
  .body {
      margin-right: 40px
  }
  
  }
  
  